@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

html {
  height: 100vh;
  scroll-behavior: smooth;
  background-color: #1c1c1c;
  width: 100vw;
}

body {
  background-image: url(55d46ac5921bb394bf8ec348d07f7a87.png);
  background-color: rgba(36, 2, 2, 0.6);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.header ul li {
  list-style-type: none;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(31, 31, 31, 0.912);
  color: #fff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.03);
  height: 6rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100vw;
  margin: 0;
  padding: 0;
  z-index: 100;
}
.header__logo {
  font-size: 2.5rem;
  margin-left: 1.5vw;
}

.navbar {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.navbar__menu {
  position: relative;
  display: flex;
  padding-left: 0;
}
.navbar__link {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 10rem;
  color: #ffffff;
  transition: 250ms ease all;
  text-decoration: none;
  text-transform: uppercase;
  transition: 500ms ease all;
}
.navbar__link svg {
  transition: 500ms ease all;
  stroke: #fff;
}
.navbar__link:hover svg {
  stroke: #de2121;
}
.navbar:not(:hover) .navbar__link:focus span,
.navbar__link:hover span {
  opacity: 1;
  transform: translate(0);
}
.navbar__item:last-child:before {
  content: "";
  position: absolute;
  left: -8rem;
  margin-left: 5rem;
  bottom: -1.25rem;
  height: 0.5rem;
  width: 2px;
  background: #c4151c;
  box-shadow: 0 -0.5rem #c4151c, 0 -0.5rem #c4151c, 0 0 3rem 0.5rem #c4151c,
    2rem 0 0 rgba(255, 255, 255, 0.2), -3rem 0 0 rgba(255, 255, 255, 0.2),
    6rem 0 0 rgba(255, 255, 255, 0.2), -6rem 0 0 rgba(255, 255, 255, 0.2),
    9rem 0 0 rgba(255, 255, 255, 0.2), -9rem 0 0 rgba(255, 255, 255, 0.2),
    12rem 0 0 rgba(255, 255, 255, 0.2), -12rem 0 0 rgba(255, 255, 255, 0.2),
    15rem 0 0 rgba(255, 255, 255, 0.2), -15rem 0 0 rgba(255, 255, 255, 0.2),
    18rem 0 0 rgba(255, 255, 255, 0.2), -18rem 0 0 rgba(255, 255, 255, 0.2),
    21rem 0 0 rgba(255, 255, 255, 0.2), -21rem 0 0 rgba(255, 255, 255, 0.2),
    24rem 0 0 rgba(255, 255, 255, 0.2), -24rem 0 0 rgba(255, 255, 255, 0.2),
    27rem 0 0 rgba(255, 255, 255, 0.2), -27rem 0 0 rgba(255, 255, 255, 0.2),
    30rem 0 0 rgba(255, 255, 255, 0.2), -30rem 0 0 rgba(255, 255, 255, 0.2),
    33rem 0 0 rgba(255, 255, 255, 0.2), -33rem 0 0 rgba(255, 255, 255, 0.2),
    36rem 0 0 rgba(255, 255, 255, 0.2), -36rem 0 0 rgba(255, 255, 255, 0.2),
    39rem 0 0 rgba(255, 255, 255, 0.2), -39rem 0 0 rgba(255, 255, 255, 0.2),
    42rem 0 0 rgba(255, 255, 255, 0.2), -42rem 0 0 rgba(255, 255, 255, 0.2),
    45rem 0 0 rgba(255, 255, 255, 0.2), -45rem 0 0 rgba(255, 255, 255, 0.2),
    48rem 0 0 rgba(255, 255, 255, 0.2), -48rem 0 0 rgba(255, 255, 255, 0.2),
    51rem 0 0 rgba(255, 255, 255, 0.2), -51rem 0 0 rgba(255, 255, 255, 0.2),
    54rem 0 0 rgba(255, 255, 255, 0.2), -54rem 0 0 rgba(255, 255, 255, 0.2),
    57rem 0 0 rgba(255, 255, 255, 0.2), -57rem 0 0 rgba(255, 255, 255, 0.2),
    60rem 0 0 rgba(255, 255, 255, 0.2), -60rem 0 0 rgba(255, 255, 255, 0.2),
    63rem 0 0 rgba(255, 255, 255, 0.2), -63rem 0 0 rgba(255, 255, 255, 0.2),
    66rem 0 0 rgba(255, 255, 255, 0.2), -66rem 0 0 rgba(255, 255, 255, 0.2),
    69rem 0 0 rgba(255, 255, 255, 0.2), -69rem 0 0 rgba(255, 255, 255, 0.2),
    72rem 0 0 rgba(255, 255, 255, 0.2), -72rem 0 0 rgba(255, 255, 255, 0.2),
    75rem 0 0 rgba(255, 255, 255, 0.2), -75rem 0 0 rgba(255, 255, 255, 0.2),
    78rem 0 0 rgba(255, 255, 255, 0.2), -78rem 0 0 rgba(255, 255, 255, 0.2),
    81rem 0 0 rgba(255, 255, 255, 0.2), -81rem 0 0 rgba(255, 255, 255, 0.2),
    84rem 0 0 rgba(255, 255, 255, 0.2), -84rem 0 0 rgba(255, 255, 255, 0.2),
    87rem 0 0 rgba(255, 255, 255, 0.2), -87rem 0 0 rgba(255, 255, 255, 0.2),
    90rem 0 0 rgba(255, 255, 255, 0.2), -90rem 0 0 rgba(255, 255, 255, 0.2),
    93rem 0 0 rgba(255, 255, 255, 0.2), -93rem 0 0 rgba(255, 255, 255, 0.2),
    96rem 0 0 rgba(255, 255, 255, 0.2), -96rem 0 0 rgba(255, 255, 255, 0.2),
    99rem 0 0 rgba(255, 255, 255, 0.2), -99rem 0 0 rgba(255, 255, 255, 0.2),
    102rem 0 0 rgba(255, 255, 255, 0.2), -102rem 0 0 rgba(255, 255, 255, 0.2),
    105rem 0 0 rgba(255, 255, 255, 0.2), -105rem 0 0 rgba(255, 255, 255, 0.2),
    108rem 0 0 rgba(255, 255, 255, 0.2), -108rem 0 0 rgba(255, 255, 255, 0.2),
    111rem 0 0 rgba(255, 255, 255, 0.2), -111rem 0 0 rgba(255, 255, 255, 0.2),
    114rem 0 0 rgba(255, 255, 255, 0.2), -114rem 0 0 rgba(255, 255, 255, 0.2),
    117rem 0 0 rgba(255, 255, 255, 0.2), -117rem 0 0 rgba(255, 255, 255, 0.2),
    120rem 0 0 rgba(255, 255, 255, 0.2), -120rem 0 0 rgba(255, 255, 255, 0.2),
    123rem 0 0 rgba(255, 255, 255, 0.2), -123rem 0 0 rgba(255, 255, 255, 0.2),
    126rem 0 0 rgba(255, 255, 255, 0.2), -126rem 0 0 rgba(255, 255, 255, 0.2),
    129rem 0 0 rgba(255, 255, 255, 0.2), -129rem 0 0 rgba(255, 255, 255, 0.2),
    132rem 0 0 rgba(255, 255, 255, 0.2), -132rem 0 0 rgba(255, 255, 255, 0.2),
    135rem 0 0 rgba(255, 255, 255, 0.2), -135rem 0 0 rgba(255, 255, 255, 0.2),
    138rem 0 0 rgba(255, 255, 255, 0.2), -138rem 0 0 rgba(255, 255, 255, 0.2),
    141rem 0 0 rgba(255, 255, 255, 0.2), -141rem 0 0 rgba(255, 255, 255, 0.2),
    144rem 0 0 rgba(255, 255, 255, 0.2), -144rem 0 0 rgba(255, 255, 255, 0.2),
    147rem 0 0 rgba(255, 255, 255, 0.2), -147rem 0 0 rgba(255, 255, 255, 0.2),
    150rem 0 0 rgba(255, 255, 255, 0.2), -150rem 0 0 rgba(255, 255, 255, 0.2),
    153rem 0 0 rgba(255, 255, 255, 0.2), -153rem 0 0 rgba(255, 255, 255, 0.2),
    156rem 0 0 rgba(255, 255, 255, 0.2), -156rem 0 0 rgba(255, 255, 255, 0.2),
    159rem 0 0 rgba(255, 255, 255, 0.2), -159rem 0 0 rgba(255, 255, 255, 0.2),
    162rem 0 0 rgba(255, 255, 255, 0.2), -162rem 0 0 rgba(255, 255, 255, 0.2),
    165rem 0 0 rgba(255, 255, 255, 0.2), -165rem 0 0 rgba(255, 255, 255, 0.2),
    168rem 0 0 rgba(255, 255, 255, 0.2), -168rem 0 0 rgba(255, 255, 255, 0.2),
    171rem 0 0 rgba(255, 255, 255, 0.2), -171rem 0 0 rgba(255, 255, 255, 0.2),
    174rem 0 0 rgba(255, 255, 255, 0.2), -174rem 0 0 rgba(255, 255, 255, 0.2),
    177rem 0 0 rgba(255, 255, 255, 0.2), -177rem 0 0 rgba(255, 255, 255, 0.2),
    180rem 0 0 rgba(255, 255, 255, 0.2), -180rem 0 0 rgba(255, 255, 255, 0.2),
    183rem 0 0 rgba(255, 255, 255, 0.2), -183rem 0 0 rgba(255, 255, 255, 0.2),
    186rem 0 0 rgba(255, 255, 255, 0.2), -186rem 0 0 rgba(255, 255, 255, 0.2),
    189rem 0 0 rgba(255, 255, 255, 0.2), -189rem 0 0 rgba(255, 255, 255, 0.2),
    192rem 0 0 rgba(255, 255, 255, 0.2), -192rem 0 0 rgba(255, 255, 255, 0.2),
    195rem 0 0 rgba(255, 255, 255, 0.2), -195rem 0 0 rgba(255, 255, 255, 0.2),
    198rem 0 0 rgba(255, 255, 255, 0.2), -198rem 0 0 rgba(255, 255, 255, 0.2),
    201rem 0 0 rgba(255, 255, 255, 0.2), -201rem 0 0 rgba(255, 255, 255, 0.2),
    204rem 0 0 rgba(255, 255, 255, 0.2), -204rem 0 0 rgba(255, 255, 255, 0.2),
    207rem 0 0 rgba(255, 255, 255, 0.2), -207rem 0 0 rgba(255, 255, 255, 0.2),
    210rem 0 0 rgba(255, 255, 255, 0.2), -210rem 0 0 rgba(255, 255, 255, 0.2),
    213rem 0 0 rgba(255, 255, 255, 0.2), -213rem 0 0 rgba(255, 255, 255, 0.2),
    216rem 0 0 rgba(255, 255, 255, 0.2), -216rem 0 0 rgba(255, 255, 255, 0.2),
    219rem 0 0 rgba(255, 255, 255, 0.2), -219rem 0 0 rgba(255, 255, 255, 0.2),
    222rem 0 0 rgba(255, 255, 255, 0.2), -222rem 0 0 rgba(255, 255, 255, 0.2),
    225rem 0 0 rgba(255, 255, 255, 0.2), -225rem 0 0 rgba(255, 255, 255, 0.2),
    228rem 0 0 rgba(255, 255, 255, 0.2), -228rem 0 0 rgba(255, 255, 255, 0.2),
    231rem 0 0 rgba(255, 255, 255, 0.2), -231rem 0 0 rgba(255, 255, 255, 0.2),
    234rem 0 0 rgba(255, 255, 255, 0.2), -234rem 0 0 rgba(255, 255, 255, 0.2),
    237rem 0 0 rgba(255, 255, 255, 0.2), -237rem 0 0 rgba(255, 255, 255, 0.2),
    240rem 0 0 rgba(255, 255, 255, 0.2), -240rem 0 0 rgba(255, 255, 255, 0.2),
    243rem 0 0 rgba(255, 255, 255, 0.2), -243rem 0 0 rgba(255, 255, 255, 0.2),
    246rem 0 0 rgba(255, 255, 255, 0.2), -246rem 0 0 rgba(255, 255, 255, 0.2),
    249rem 0 0 rgba(255, 255, 255, 0.2), -249rem 0 0 rgba(255, 255, 255, 0.2),
    252rem 0 0 rgba(255, 255, 255, 0.2), -252rem 0 0 rgba(255, 255, 255, 0.2),
    255rem 0 0 rgba(255, 255, 255, 0.2), -255rem 0 0 rgba(255, 255, 255, 0.2),
    258rem 0 0 rgba(255, 255, 255, 0.2), -258rem 0 0 rgba(255, 255, 255, 0.2),
    261rem 0 0 rgba(255, 255, 255, 0.2), -261rem 0 0 rgba(255, 255, 255, 0.2),
    264rem 0 0 rgba(255, 255, 255, 0.2), -264rem 0 0 rgba(255, 255, 255, 0.2),
    267rem 0 0 rgba(255, 255, 255, 0.2), -267rem 0 0 rgba(255, 255, 255, 0.2),
    270rem 0 0 rgba(255, 255, 255, 0.2), -270rem 0 0 rgba(255, 255, 255, 0.2),
    273rem 0 0 rgba(255, 255, 255, 0.2), -273rem 0 0 rgba(255, 255, 255, 0.2),
    276rem 0 0 rgba(255, 255, 255, 0.2), -276rem 0 0 rgba(255, 255, 255, 0.2),
    279rem 0 0 rgba(255, 255, 255, 0.2), -279rem 0 0 rgba(255, 255, 255, 0.2),
    282rem 0 0 rgba(255, 255, 255, 0.2), -282rem 0 0 rgba(255, 255, 255, 0.2),
    285rem 0 0 rgba(255, 255, 255, 0.2), -285rem 0 0 rgba(255, 255, 255, 0.2),
    288rem 0 0 rgba(255, 255, 255, 0.2), -288rem 0 0 rgba(255, 255, 255, 0.2),
    291rem 0 0 rgba(255, 255, 255, 0.2), -291rem 0 0 rgba(255, 255, 255, 0.2),
    294rem 0 0 rgba(255, 255, 255, 0.2), -294rem 0 0 rgba(255, 255, 255, 0.2),
    297rem 0 0 rgba(255, 255, 255, 0.2), -297rem 0 0 rgba(255, 255, 255, 0.2),
    300rem 0 0 rgba(255, 255, 255, 0.2), -300rem 0 0 rgba(255, 255, 255, 0.2),
    303rem 0 0 rgba(255, 255, 255, 0.2), -303rem 0 0 rgba(255, 255, 255, 0.2),
    306rem 0 0 rgba(255, 255, 255, 0.2), -306rem 0 0 rgba(255, 255, 255, 0.2),
    309rem 0 0 rgba(255, 255, 255, 0.2), -309rem 0 0 rgba(255, 255, 255, 0.2),
    312rem 0 0 rgba(255, 255, 255, 0.2), -312rem 0 0 rgba(255, 255, 255, 0.2),
    315rem 0 0 rgba(255, 255, 255, 0.2), -315rem 0 0 rgba(255, 255, 255, 0.2),
    318rem 0 0 rgba(255, 255, 255, 0.2), -318rem 0 0 rgba(255, 255, 255, 0.2),
    321rem 0 0 rgba(255, 255, 255, 0.2), -321rem 0 0 rgba(255, 255, 255, 0.2),
    324rem 0 0 rgba(255, 255, 255, 0.2), -324rem 0 0 rgba(255, 255, 255, 0.2),
    327rem 0 0 rgba(255, 255, 255, 0.2), -327rem 0 0 rgba(255, 255, 255, 0.2),
    330rem 0 0 rgba(255, 255, 255, 0.2), -330rem 0 0 rgba(255, 255, 255, 0.2),
    333rem 0 0 rgba(255, 255, 255, 0.2), -333rem 0 0 rgba(255, 255, 255, 0.2),
    336rem 0 0 rgba(255, 255, 255, 0.2), -336rem 0 0 rgba(255, 255, 255, 0.2),
    339rem 0 0 rgba(255, 255, 255, 0.2), -339rem 0 0 rgba(255, 255, 255, 0.2),
    342rem 0 0 rgba(255, 255, 255, 0.2), -342rem 0 0 rgba(255, 255, 255, 0.2),
    345rem 0 0 rgba(255, 255, 255, 0.2), -345rem 0 0 rgba(255, 255, 255, 0.2),
    348rem 0 0 rgba(255, 255, 255, 0.2), -348rem 0 0 rgba(255, 255, 255, 0.2),
    351rem 0 0 rgba(255, 255, 255, 0.2), -351rem 0 0 rgba(255, 255, 255, 0.2),
    354rem 0 0 rgba(255, 255, 255, 0.2), -354rem 0 0 rgba(255, 255, 255, 0.2),
    357rem 0 0 rgba(255, 255, 255, 0.2), -357rem 0 0 rgba(255, 255, 255, 0.2);
  transition: 500ms ease all;
}
.navbar__item:first-child:nth-last-child(1):last-child:hover:before,
.navbar__item:first-child:nth-last-child(1) ~ li:last-child:hover:before {
  left: 20%;
}
.navbar__item:first-child:nth-last-child(2):nth-child(1):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(2)
  ~ li:nth-child(1):hover
  ~ li:last-child:before {
  left: 20%;
}
.navbar__item:first-child:nth-last-child(2):last-child:hover:before,
.navbar__item:first-child:nth-last-child(2) ~ li:last-child:hover:before {
  left: 50%;
}
.navbar__item:first-child:nth-last-child(3):nth-child(1):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(3)
  ~ li:nth-child(1):hover
  ~ li:last-child:before {
  left: 20%;
}
.navbar__item:first-child:nth-last-child(3):nth-child(2):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(3)
  ~ li:nth-child(2):hover
  ~ li:last-child:before {
  left: 33.3333333333%;
}
.navbar__item:first-child:nth-last-child(3):last-child:hover:before,
.navbar__item:first-child:nth-last-child(3) ~ li:last-child:hover:before {
  left: 66.6666666667%;
}
.navbar__item:first-child:nth-last-child(4):nth-child(1):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(4)
  ~ li:nth-child(1):hover
  ~ li:last-child:before {
  left: 0%;
}
.navbar__item:first-child:nth-last-child(4):nth-child(2):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(4)
  ~ li:nth-child(2):hover
  ~ li:last-child:before {
  left: 25%;
}
.navbar__item:first-child:nth-last-child(4):nth-child(3):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(4)
  ~ li:nth-child(3):hover
  ~ li:last-child:before {
  left: 50%;
}
.navbar__item:first-child:nth-last-child(4):last-child:hover:before,
.navbar__item:first-child:nth-last-child(4) ~ li:last-child:hover:before {
  left: 75%;
}
.navbar__item:first-child:nth-last-child(5):nth-child(1):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(5)
  ~ li:nth-child(1):hover
  ~ li:last-child:before {
  left: 20%;
}
.navbar__item:first-child:nth-last-child(5):nth-child(2):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(5)
  ~ li:nth-child(2):hover
  ~ li:last-child:before {
  left: 20%;
}
.navbar__item:first-child:nth-last-child(5):nth-child(3):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(5)
  ~ li:nth-child(3):hover
  ~ li:last-child:before {
  left: 40%;
}
.navbar__item:first-child:nth-last-child(5):nth-child(4):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(5)
  ~ li:nth-child(4):hover
  ~ li:last-child:before {
  left: 50%;
}
.navbar__item:first-child:nth-last-child(5):last-child:hover:before,
.navbar__item:first-child:nth-last-child(5) ~ li:last-child:hover:before {
  left: 80%;
}
.navbar__item:first-child:nth-last-child(6):nth-child(1):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(6)
  ~ li:nth-child(1):hover
  ~ li:last-child:before {
  left: 10%;
}
.navbar__item:first-child:nth-last-child(6):nth-child(2):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(6)
  ~ li:nth-child(2):hover
  ~ li:last-child:before {
  left: 16.6666666667%;
}
.navbar__item:first-child:nth-last-child(6):nth-child(3):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(6)
  ~ li:nth-child(3):hover
  ~ li:last-child:before {
  left: 33.3333333333%;
}
.navbar__item:first-child:nth-last-child(6):nth-child(4):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(6)
  ~ li:nth-child(4):hover
  ~ li:last-child:before {
  left: 50%;
}
.navbar__item:first-child:nth-last-child(6):nth-child(5):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(6)
  ~ li:nth-child(5):hover
  ~ li:last-child:before {
  left: 66.6666666667%;
}
.navbar__item:first-child:nth-last-child(6):last-child:hover:before,
.navbar__item:first-child:nth-last-child(6) ~ li:last-child:hover:before {
  left: 83.3333333333%;
}
.navbar__item:first-child:nth-last-child(7):nth-child(1):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(7)
  ~ li:nth-child(1):hover
  ~ li:last-child:before {
  left: 0%;
}
.navbar__item:first-child:nth-last-child(7):nth-child(2):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(7)
  ~ li:nth-child(2):hover
  ~ li:last-child:before {
  left: 14.2857142857%;
}
.navbar__item:first-child:nth-last-child(7):nth-child(3):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(7)
  ~ li:nth-child(3):hover
  ~ li:last-child:before {
  left: 28.5714285714%;
}
.navbar__item:first-child:nth-last-child(7):nth-child(4):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(7)
  ~ li:nth-child(4):hover
  ~ li:last-child:before {
  left: 42.8571428571%;
}
.navbar__item:first-child:nth-last-child(7):nth-child(5):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(7)
  ~ li:nth-child(5):hover
  ~ li:last-child:before {
  left: 57.1428571429%;
}
.navbar__item:first-child:nth-last-child(7):nth-child(6):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(7)
  ~ li:nth-child(6):hover
  ~ li:last-child:before {
  left: 71.4285714286%;
}
.navbar__item:first-child:nth-last-child(7):last-child:hover:before,
.navbar__item:first-child:nth-last-child(7) ~ li:last-child:hover:before {
  left: 85.7142857143%;
}
.navbar__item:first-child:nth-last-child(8):nth-child(1):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(8)
  ~ li:nth-child(1):hover
  ~ li:last-child:before {
  left: 0%;
}
.navbar__item:first-child:nth-last-child(8):nth-child(2):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(8)
  ~ li:nth-child(2):hover
  ~ li:last-child:before {
  left: 12.5%;
}
.navbar__item:first-child:nth-last-child(8):nth-child(3):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(8)
  ~ li:nth-child(3):hover
  ~ li:last-child:before {
  left: 25%;
}
.navbar__item:first-child:nth-last-child(8):nth-child(4):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(8)
  ~ li:nth-child(4):hover
  ~ li:last-child:before {
  left: 37.5%;
}
.navbar__item:first-child:nth-last-child(8):nth-child(5):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(8)
  ~ li:nth-child(5):hover
  ~ li:last-child:before {
  left: 50%;
}
.navbar__item:first-child:nth-last-child(8):nth-child(6):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(8)
  ~ li:nth-child(6):hover
  ~ li:last-child:before {
  left: 62.5%;
}
.navbar__item:first-child:nth-last-child(8):nth-child(7):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(8)
  ~ li:nth-child(7):hover
  ~ li:last-child:before {
  left: 75%;
}
.navbar__item:first-child:nth-last-child(8):last-child:hover:before,
.navbar__item:first-child:nth-last-child(8) ~ li:last-child:hover:before {
  left: 87.5%;
}
.navbar__item:first-child:nth-last-child(9):nth-child(1):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(9)
  ~ li:nth-child(1):hover
  ~ li:last-child:before {
  left: 0%;
}
.navbar__item:first-child:nth-last-child(9):nth-child(2):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(9)
  ~ li:nth-child(2):hover
  ~ li:last-child:before {
  left: 11.1111111111%;
}
.navbar__item:first-child:nth-last-child(9):nth-child(3):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(9)
  ~ li:nth-child(3):hover
  ~ li:last-child:before {
  left: 22.2222222222%;
}
.navbar__item:first-child:nth-last-child(9):nth-child(4):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(9)
  ~ li:nth-child(4):hover
  ~ li:last-child:before {
  left: 33.3333333333%;
}
.navbar__item:first-child:nth-last-child(9):nth-child(5):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(9)
  ~ li:nth-child(5):hover
  ~ li:last-child:before {
  left: 44.4444444444%;
}
.navbar__item:first-child:nth-last-child(9):nth-child(6):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(9)
  ~ li:nth-child(6):hover
  ~ li:last-child:before {
  left: 55.5555555556%;
}
.navbar__item:first-child:nth-last-child(9):nth-child(7):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(9)
  ~ li:nth-child(7):hover
  ~ li:last-child:before {
  left: 66.6666666667%;
}
.navbar__item:first-child:nth-last-child(9):nth-child(8):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(9)
  ~ li:nth-child(8):hover
  ~ li:last-child:before {
  left: 77.7777777778%;
}
.navbar__item:first-child:nth-last-child(9):last-child:hover:before,
.navbar__item:first-child:nth-last-child(9) ~ li:last-child:hover:before {
  left: 88.8888888889%;
}
.navbar__item:first-child:nth-last-child(10):nth-child(1):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(10)
  ~ li:nth-child(1):hover
  ~ li:last-child:before {
  left: 0%;
}
.navbar__item:first-child:nth-last-child(10):nth-child(2):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(10)
  ~ li:nth-child(2):hover
  ~ li:last-child:before {
  left: 10%;
}
.navbar__item:first-child:nth-last-child(10):nth-child(3):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(10)
  ~ li:nth-child(3):hover
  ~ li:last-child:before {
  left: 20%;
}
.navbar__item:first-child:nth-last-child(10):nth-child(4):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(10)
  ~ li:nth-child(4):hover
  ~ li:last-child:before {
  left: 30%;
}
.navbar__item:first-child:nth-last-child(10):nth-child(5):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(10)
  ~ li:nth-child(5):hover
  ~ li:last-child:before {
  left: 40%;
}
.navbar__item:first-child:nth-last-child(10):nth-child(6):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(10)
  ~ li:nth-child(6):hover
  ~ li:last-child:before {
  left: 50%;
}
.navbar__item:first-child:nth-last-child(10):nth-child(7):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(10)
  ~ li:nth-child(7):hover
  ~ li:last-child:before {
  left: 60%;
}
.navbar__item:first-child:nth-last-child(10):nth-child(8):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(10)
  ~ li:nth-child(8):hover
  ~ li:last-child:before {
  left: 70%;
}
.navbar__item:first-child:nth-last-child(10):nth-child(9):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(10)
  ~ li:nth-child(9):hover
  ~ li:last-child:before {
  left: 80%;
}
.navbar__item:first-child:nth-last-child(10):last-child:hover:before,
.navbar__item:first-child:nth-last-child(10) ~ li:last-child:hover:before {
  left: 90%;
}
.navbar__item:first-child:nth-last-child(11):nth-child(1):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(11)
  ~ li:nth-child(1):hover
  ~ li:last-child:before {
  left: 0%;
}
.navbar__item:first-child:nth-last-child(11):nth-child(2):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(11)
  ~ li:nth-child(2):hover
  ~ li:last-child:before {
  left: 9.0909090909%;
}
.navbar__item:first-child:nth-last-child(11):nth-child(3):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(11)
  ~ li:nth-child(3):hover
  ~ li:last-child:before {
  left: 18.1818181818%;
}
.navbar__item:first-child:nth-last-child(11):nth-child(4):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(11)
  ~ li:nth-child(4):hover
  ~ li:last-child:before {
  left: 27.2727272727%;
}
.navbar__item:first-child:nth-last-child(11):nth-child(5):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(11)
  ~ li:nth-child(5):hover
  ~ li:last-child:before {
  left: 36.3636363636%;
}
.navbar__item:first-child:nth-last-child(11):nth-child(6):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(11)
  ~ li:nth-child(6):hover
  ~ li:last-child:before {
  left: 45.4545454545%;
}
.navbar__item:first-child:nth-last-child(11):nth-child(7):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(11)
  ~ li:nth-child(7):hover
  ~ li:last-child:before {
  left: 54.5454545455%;
}
.navbar__item:first-child:nth-last-child(11):nth-child(8):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(11)
  ~ li:nth-child(8):hover
  ~ li:last-child:before {
  left: 63.6363636364%;
}
.navbar__item:first-child:nth-last-child(11):nth-child(9):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(11)
  ~ li:nth-child(9):hover
  ~ li:last-child:before {
  left: 72.7272727273%;
}
.navbar__item:first-child:nth-last-child(11):nth-child(10):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(11)
  ~ li:nth-child(10):hover
  ~ li:last-child:before {
  left: 81.8181818182%;
}
.navbar__item:first-child:nth-last-child(11):last-child:hover:before,
.navbar__item:first-child:nth-last-child(11) ~ li:last-child:hover:before {
  left: 90.9090909091%;
}

.line {
  border-left: 2px solid;
  color: #fff;
  margin-left: 8vw;
  margin-top: 130px;
}

.text {
  color: #fff;
  margin-left: 15px;
}
.text h3 {
  color: rgb(149, 149, 149);
}

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #bfc0c0;
  margin-top: 10px;
  margin-left: 9%;
  color: #bfc0c0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}
.button a {
  color: #bfc0c0;
  text-decoration: none;
  letter-spacing: 1px;
}

#button-2 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-2 a {
  position: relative;
  transition: all 0.35s ease-Out;
}

#slide {
  width: 100%;
  height: 100%;
  left: -200px;
  background: #bfc0c0;
  position: absolute;
  transition: all 0.35s ease-Out;
  bottom: 0;
}

#button-2:hover #slide {
  left: 0;
}

#button-2:hover a {
  color: #2d3142;
}

.socials {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.socials a {
  text-decoration: none;
}

.wrapper {
  display: inline-flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  margin-top: 13%;
}

i {
  padding: 0px 10px;
}

#facebook {
  color: #4867aa;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}

#facebook:hover {
  margin-top: -15px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}

#twitter {
  color: #1da1f2;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}

#twitter:hover {
  margin-top: -15px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}

#git {
  color: #444;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: all ease-in-out 150ms;
}

#git:hover {
  margin-top: -15px;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
  transform: translate(0, -5);
}
#youtube {
  color: #b60000;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}
#youtube:hover {
  margin-top: -15px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}

.about {
  color: #fff;
  margin-top: 70vh;
  margin-left: 60px;
  margin-right: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(29, 29, 29, 0.604);
  border-radius: 30px;
}

.abouttop {
  text-align: center;
  color: #d6d6d6ee;
}

.info {
  justify-content: center;
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
}
#contentt2 span {
  color: #e6e6e6;
}

#contentt2 {
  margin-left: 15px;
  background-color: rgba(77, 77, 77, 0.238);
  border-radius: 20px;
  padding: 15px;
}

.ava {
  height: 350px;
  width: 300px;

  border-radius: 20px;
}

.timeline {
  padding: 0;
  width: 800px;
  color: #d8d8d8;
  padding: 30px 10px;
}
.timeline ul {
  list-style-type: none;
  border-left: 2px solid #b104048b;
  padding: 10px 5px;
}
.timeline ul li {
  padding: 0;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}
.timeline ul li span {
  display: inline-block;
  background-color: #62626256;
  border-radius: 25px;
  padding: 2px 5px;
  font-size: 15px;
  text-align: center;
}
.timeline ul li .content h3 {
  color: #c95c5cd0;
  font-size: 17px;
  padding-top: 5px;
}
.timeline ul li .content p {
  padding: 5px 0px 15px 0px;
  font-size: 15px;
}
.timeline ul li:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #b4a8a8fc;
  border-radius: 50%;
  left: -11px;
  top: 28px;
  transition: 0.5s;
}
.timeline ul li:hover {
  border-radius: 20px;
  background-color: #b420201f;
}
.timeline ul li:hover:before {
  background-color: rgb(255, 0, 0);
  box-shadow: 0px 0px 10px 2px rgb(248, 114, 105);
}

.timelines {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
  padding: 0;
}

.projects {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonn {
  text-align: center;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 1.5rem;
  background-image: url(P_VJp51OK9o.jpg);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  color: #9191e9;
  padding: 1rem 2rem;
  margin: 2rem;
  height: 32vh;
  width: 30vw;
  transition: transform 0.5s;
}
.buttonn:hover {
  transform: scale(1.15);
}

.buttonnn {
  text-align: center;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 1.5rem;
  background-image: url(87i42gjIKVM.jpg);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  color: #9191e9;
  padding: 1rem 2rem;
  margin: 2rem;
  height: 32vh;
  width: 30vw;
  transition: transform 0.5s;
}

.buttonnn:hover {
  transform: scale(1.15);
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 90vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hiden;
  transition: 0.64s ease-in-out;
}
.popup-inner {
  position: relative;
  bottom: -100vw;
  right: -100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  max-height: 600px;
  width: 86%;
  height: 80%;
  background-color: #333333f1;
  transform: rotate(32deg);
  transition: 0.64s ease-in-out;
}
.popup__photo {
  display: flex;

  width: 100%;
  height: 100%;
  overflow: hidden;
}
.popup__photo img {
  width: 100%;
  height: 100%;
}
.popup__text {
  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: center;
  width: 95%;
  height: 35%;
}
.popup__text h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 5px;
  padding: 0;
  text-transform: uppercase;
  color: #f6f6f6;
}
.popup__text p {
  font-size: 0.875rem;
  color: #e6e6e6;
  line-height: 1.5;
  margin: 3px;
  padding: 3px;
}
.popup:target {
  visibility: visible;
  opacity: 1;
}
.popup:target .popup-inner {
  bottom: 0;
  right: 0;
  transform: rotate(0);
}
.popup__close {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;
  font-size: 0.875rem;
  font-weight: 300;
  border-radius: 100%;
  background-color: #0a0a0a;
  z-index: 4;
  color: #c30303;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.contact {
  margin: 0;
  padding: 0;
  margin-top: 60vh;
  padding-bottom: 100px;
}

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px "Oswald", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: "Lato";
  font-weight: 400;
}
.col-sm-12 {
  margin: 15px;
}
.form-control {
  border-radius: 5px;
  font-weight: 500;
  display: block;
  margin: 0 auto;
  justify-content: center;
  min-width: 330px;
  max-width: 550px;
  background-color: #000000;
  color: #ffffff;
  letter-spacing: 5px;
}

.send-button {
  border-radius: 10px;
  height: 30px;
  min-width: 340px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.alt-send-button {
  height: 30px;

  max-width: 340px;
  transition: all 0.2s ease-in-out;
}

.send-text {
  display: block;

  margin-top: 20px;
  font: 700 12px "Lato", sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px "Oswald", sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255, 255, 255, 0.6);
}

